# KGPC C formatting.
#
# Style: LLVM default (K&R braces, 2-space indent).  Applied across
# KGPC/, common/, and cparser/ -- with cparser/acutest.h excluded via
# .clang-format-ignore so we don't diverge from upstream.
#
# Reformat the whole tree:
#   clang-format -i $(git ls-files '*.c' '*.h' '*.cpp' '*.hpp')
#
# Reformat a single file:
#   clang-format -i path/to/file.c
BasedOnStyle: LLVM
